[submodule "vendor/GLFW-repo"]
	path = vendor/GLFW-repo
	url = https://github.com/IronicallySerious/glfw
[submodule "vendor/GLEW-repo"]
	path = vendor/GLEW-repo
	url = https://github.com/IronicallySerious/glew
[submodule "vendor/DevIL-repo"]
	path = vendor/DevIL-repo
	url = https://github.com/IronicallySerious/DevIL
[submodule "vendor/Boost.Any-repo"]
	path = vendor/Boost.Any-repo
	url = https://github.com/IronicallySerious/any
[submodule "vendor/SFML-repo"]
	path = vendor/SFML-repo
	url = https://github.com/IronicallySerious/SFML
